In [ ]:
Денис Иванов
Домашнее задание по теме "Библиотека Pandas"

In [ ]:
Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd
import zipfile as zf
import requests, io

r = requests.get('http://files.grouplens.org/datasets/movielens/ml-100k.zip')
z = zf.ZipFile(io.BytesIO(r.content))

rate  = pd.read_table(z.extract('ml-100k/u.data'), names=['user_id', 'item_id', 'rating', 'timestamp'], header =0)

films = pd.read_table(z.extract('ml-100k/u.item'), encoding = "ISO-8859-1", delimiter='|')
f2 = films.drop(films.columns[[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]], axis=1)
f2.rename(columns={'1': 'item_id', 'Toy Story (1995)': 'film'}, inplace=True)

f3=rate.merge(f2, how = 'left', left_on='item_id', right_on= 'item_id')
f4 = f3 [f3 ['rating']==5.0]['film'].value_counts().head(1)
print(f4)

Star Wars (1977)    325
Name: film, dtype: int64

In [ ]:
Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
data=pd.read_csv('power.csv', 'r', delimiter=',')
filtered_data = data[
                ((data['country']  == 'Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) &
                ((data['category'] == 4) | (data['category'] == 12)| (data['category'] == 21)) &
                ((data['year'] >=2005) & (data['year'] <= 2010)) &
                  data['quantity']>0]
f1 = filtered_data.groupby('country')['quantity'].sum()
f2 = filtered_data ['quantity'].sum()
print(f1)
print('суммарное потребление стран Прибалтики за период: {}'.format(f2))

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122197.0
Name: quantity, dtype: float64
суммарное потребление стран Прибалтики за период: 240481.0

In [ ]:
Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [15]:
n_67 = pd.read_html('http://cbr.ru/banking_sector/credit/coinfo/f135/?regnum=67&dt=2020-01-01')[1]
n_67.filter(items = ['Краткое наименование норматива', 'Фактическое значение, процент']).head(20)

   Краткое наименование норматива  Фактическое значение, процент
0                            Н1.1                        24725.0
1                            Н1.2                        24725.0
2                            Н1.0                        32103.0
3                            Н1.3                            NaN
4                            Н1.4                        24822.0
5                              Н2                       103072.0
6                              Н3                        10751.0
7                              Н4                         9705.0
8                              Н7                        54522.0
9                           Н10.1                          212.0
10                            Н12                            0.0
11                            Н15                            NaN
12                          Н15.1                            NaN
13                            Н16                            NaN
14                          Н16.1                            NaN
15                          Н16.2                            NaN
16                            Н18                            0.0